                {% for field in form %}
                    {% if field.errors %}
                    <div class="col-12">
                    <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                        <span class="fw-bold">{{field.label_tag}}</span>
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}



                {% for error in form.non_field_errors %}
                <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                    <span class="text-danger">{{error}}</span>
                </div>
                {% endfor %}


                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}